NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET='your-django-secret-key'
NEXT_PUBLIC_BASE_URL=http://localhost:8000

# Database (PostgreSQL) configuration
DATABASE_URL="postgresql://your-neon-db-username:your-neon-db-password@your-neon-db-hostname/your-db-name?sslmode=require&channel_binding=require"
