NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET='your-django-secret-key'
NEXT_PUBLIC_BASE_URL=http://localhost:8000
NEXT_PUBLIC_WIDGET_SCRIPT_URL=http://localhost:3000/widget/chatbot-widget.js

# Database (PostgreSQL) configuration
DATABASE_URL="postgresql://your-neon-db-username:your-neon-db-password@your-neon-db-hostname/your-db-name?sslmode=require&channel_binding=require"

# AWS S3 configuration
AWS_STORAGE_BUCKET_NAME="your-s3-bucket-name"
AWS_REGION="your-aws-region"